body {
  background-color: rgb(59, 126, 106)
}
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;

}

tr {
  background-color: rgb(110, 180, 180);
  color: rgb(32, 27, 27);
  text-align: left;
  font-weight: bold;

}

th,
td {
  padding: 10px 15px;
}

